<section class="block">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Block Heading</h2>
            <p class="block__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, sed.</p>
        </header>
    </div>
</section>
<section class="block block--dark block--skewed--left">
    <div class="container">
        <h2 class="block__heading">Block Heading 2</h2>
        <p class="block__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, sed.</p>        
        <div style="width: 30%; padding: 4rem;">
            <!-- temporary div wrapper for inline styling -->
            <div class="card card--secondary">
                <header class="card__header">card title</header>
                <div class="card__body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut non repellendus harum,
                    reprehenderit provident sit? Ipsum unde distinctio vel vitae asperiores.
                </div>
            </div>
        </div>
    </div>
</section>